.footer > div {
  overflow: visible;
  height: 200px;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  background-image: linear-gradient(rgb(62, 143, 184), rgb(103, 111, 179));
}

.footer-info {
  position: relative;
  width: 10%;
}

.footer-info > hr {
  position: relative;
  width: 20%;
  top: -16px;
  border-color: rgb(201, 194, 194);
  color: rgb(201, 194, 194);
}

.footer-title {
  margin-top: 0;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: rgb(238, 234, 234);
}

.info-list {
  position: relative;
  width: 80%;
  margin: 0 auto;
  left: -20px;
  list-style: none;
  font-size: 17px;
  color: rgb(231, 221, 221);
  font-family: "Montserrat", sans-serif;
}

.info-list > li {
  margin-top: 10px;
  font-weight: 600;
  text-justify: initial;
}

.footer-logos {
  position: absolute;
  width: max-content;
  height: 100%;
  transform: rotate(90deg);
  top: 25%;
  right: 13%;
  z-index: 500;
  transition: all 1s;
}

.year {
  position: relative;
  color: rgb(190, 190, 190);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  top: 60px;
}
